*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app{
    width: 100%;

}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: rgb(26, 57, 56);
    /* font-weight: 100; */
}
.menuContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menuContent h2{
    font-size: 30px;
    margin: 20px 0px;
    border-top: 3px solid rgb(26, 57, 56) ;
    border-bottom: 3px solid rgb(26, 57, 56);
    color: rgb(26, 57, 56);
}
.menuContent p{
    font-size: 17px;
}
.pizzaArea {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#normal , #gray{
    width: 40%;
    height: 220px;
    border-radius: 2px;
    display: flex;
    margin: 20px 10px;
    align-items: center;
    justify-content: center;

}
#normal .pizzaImage ,#gray .pizzaImage {
    width: 45%;
    height: 100%;
}
#normal .pizzaImage img , #gray .pizzaImage img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
#gray .pizzaImage img{
    filter: grayscale();
    opacity: 0.7;
}
#normal .pizzaContent ,#gray .pizzaContent{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: left;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-left: 15px;
    justify-content: center;
    flex-direction: column;
    background-color:  rgb(189, 198, 197);
}
.pizzaContent h2{
    font-size: 24px;
    margin-bottom: 10px;
}
.pizzaContent p{
    font-size: 17px;
    margin: 8px 0px;
}
.pizzaContent h3{
    font-size: 20px;
}


footer{
    text-align: center;
}
footer .close{
    display: none;
}
footer p{
    margin-top: 25px;
    font-size: 18px;
    color: red;
}
footer .open{
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    background-color: yellow;
    border-radius: 3px;
    border: none;
    color: rgb(26, 57, 56);
}
